---
layout: frontpage
---
{% include JB/setup %}
<div class="page-header">
  <div class="row">
    <div class="col-lg-6">
      <h1>Open Data Index</h1>
      <p>A comprehensive index of all available Open Data for Greece</p>
    </div>
  </div>
</div>
<div class="row">
  {% for resource in site.data.openindex %}
    {% capture rowIter %}{% cycle 1, 2, 3 %}{% endcapture %}
    <div class="col-lg-4">
      {% include widgets/resources.html resource=resource %}
    </div>
    {% if '3' == rowIter %}
    </div>
    <div class="row">
    {% endif %}
  {% endfor %}
</div>


